<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <title>Django Posts</title>
</head>
<body>
    <div>
        <h1><a href="post_list.html">Django Posts</a></h1>
    </div>
    
    <div>
        <p>published: 14.11.2016, 12:14</p>
        <h2><a href="post_list.html">First post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor, nunc eget elementum cursus, purus augue varius ipsum, et ornare eros mauris id urna. Etiam sit amet tincidunt ipsum. Phasellus erat lacus, pellentesque nec leo eu, tincidunt scelerisque nibh. Duis sit amet pellentesque lacus.</p>
    </div>
        
    <div>
        {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="post_list.html">{{ post.title }}</a></h2>
            <p>{{ post.text }}</p>
        </div>
        {% endfor %}
    </div>
        
</body>
</html>