<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load staticfiles %}
<html>
<head>
<meta charset="UTF-8">
    <title>Django Posts</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    {% block content %}
            <div id="content">
                <div class="post">
                    <h2><a href="{% url 'post_detail' pk=post.pk %}" id="link">{{ post.title }}</a></h2>
                    {% if post.published_date %}
                        <p class="date">Opublikowano: {{ post.published_date }}</p>
                    {% endif %}
                    <p>{{ post.text }}</p>
                </div>
            </div>
    {% endblock %}
</body>
</html>